doctype html
html
  head
    title Boxes CMS
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui")
    script(src="js/bundle.js")
    //- script(src="static/smoothscroll.min.js")
    link(rel="stylesheet", type="text/css", href="static/extensions/normalize.css")
    link(rel="stylesheet", type="text/css", href="css/common.css")
  body
    #main
      app

    script(src="js/index.js")
